body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

nav {
  position: fixed;
  z-index: 1;

  display: grid;
  height: 50px;
  width: 100%;
  align-items: center;
  background-color: #3d696e;
  box-shadow: 0 4px 3px 0 rgba(0,0,0,0.2);
}

h1 {
  margin: 0px 20px 0px 20px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
}

#info-panel {
  position: fixed;
  z-index: 0;

  left: 0;
  top: 50px;
  background-color: white;
  height: 100%;
  width: 0;
  overflow-x: hidden;
  transition: 0.5s;
  white-space: nowrap;
  box-shadow: 0 4px 3px 0 rgba(0,0,0,0.2);
}

#x-btn {
  position: absolute;
  font-size: 30px;
  top: 20px;
  right: 20px;
  text-decoration: none;
}

#info-panel > * {
  color: black;
}

#info-panel > h1 {
  margin: 60px 40px 20px 40px;
}

#info-panel > p {
  margin: 20px 40px 20px 40px;
}

#mapid {
  position: fixed;
  z-index: 0;

  height: 100%;
  width: 100%;
  margin: auto;
}

.leaflet-tooltip {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  max-width: 400px;
  transition: opacity .2s linear;
}

