body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

nav {
  position: fixed;
  z-index: 1;

  display: grid;
  height: 50px;
  width: 100%;
  align-items: center;
  background-color: #3d696e;
  box-shadow: 0 4px 3px 0 rgba(0,0,0,0.2);
}

h1 {
  margin: 0px 20px 0px 20px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
}

#mapid {
  position: fixed;
  z-index: 0;

  height: 100%;
  width: 100%;
  margin: auto;
}

.leaflet-tooltip {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  max-width: 200px;
  white-space: normal;
}
