body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  width: 100vw;
}

nav {
  position: fixed;
  z-index: 1;

  display: grid;
  height: 50px;
  width: 100%;
  align-items: center;
  background-color: #3d696e;
  box-shadow: 0 4px 3px 0 rgba(0,0,0,0.2);
}

h1 {
  margin: 0px 20px 0px 20px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
}

#info-panel {
  position: fixed;
  z-index: 0;

  left: 0;
  top: 50px;
  background-color: white;
  height: 95%;
  width: 0;
  overflow-x: hidden;
  transition: 0.4s;
  box-shadow: 0 4px 3px 0 rgba(0,0,0,0.2);
}

#x-btn {
  position: absolute;
  font-size: 1.2rem;
  top: 1rem;
  right: 1rem;
  text-decoration: none;
  color: #707070;
  transition: 0.2s;
}

#x-btn:hover {
  transform: scale(1.2);
  transition: 0.2s;
}

#info-panel-content > h1 {
  color: #4d4c4c;
  margin: 40px 50px 20px 50px;
  opacity: 0;
}

#info-panel-content > p {
  font-weight: 300;
  color: #707070;
  margin: 20px 50px 60px 50px;
  opacity: 0;
  text-align: justify;
}

#mapid {
  position: fixed;
  z-index: 0;

  height: 100%;
  width: 100%;
  margin: auto;
}

.leaflet-tooltip {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  max-width: 400px;
  transition: opacity .2s linear;
  color: #4d4c4c;
}

